@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cambo&family=Poly&family=Prata&family=Rubik:wght@300&family=Voces&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --titlefontcolor: black; /* COLOR DE TITULO DE LETRA */
    --fontcolor: black; /* COLOR DE LETRA */
    --color1: black; /* CONTORNO DE LOGO */
    --color2: rgb(255, 180, 142); /* FONDO DE ELEMENTOS GENERICO*/
    --color3: rgb(241, 201, 144); /* BORDE */
    --color4: white;/*rgb(255, 245, 199); /* FONDO DE PANTALLA */
    --color5: linear-gradient(to right, rgb(255, 164, 118) , rgb(241, 241, 144)); /* FONDO DE BANNER LOGO */
    --logobottom: linear-gradient(to bottom,rgb(255, 201, 241), transparent); /* BOTTOM BANNER LOGO */
    --contenido-border-gradient: linear-gradient(to top, rgb(255, 164, 118), transparent); /* COLOR DE LA BARRA BAJA DE CONTENIDO */
    --check-color: rgb(212, 146, 55); /* CHECKBOX CHECK COLOR */
    --hover-font-color: var(--fontcolor); /* MOUSE ENCIMA COLOR DE LETRA */
    --hover-background-color: rgb(255, 165, 120); /* MOUSE ENCIMA COLOR DE FONDO */
    --color-button: rgb(255, 180, 142); /* COLOR DE BOTONES */
    --color-button-border: rgb(241, 201, 144); /* BORDES COLOR DE BOTONES*/
    --img-prevencion-b-color: rgb(255, 235, 249); /* FONDO DE IMAGENES DE PREVENCION */
    --img-prevencion-bor-color: rgb(241, 201, 144); /* BORDE DE IMAGENES DE PREVENCION */
    --hr-color: rgb(255, 164, 118); /* COLOR DE LOS HR */
}

html
{
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    object-fit: contain;
}

button
{
    background-color: var(--color-button);
    border-color: var(--color-button-border);
    cursor: pointer;
    font-family: 'Acme', sans-serif;
}

h1
{
    font-family: 'Poly', serif;
}

button:hover
{
    background-color: var(--check-color);
}

.grafico
{
    display: none;
}

.grafico_active
{
    display: flex;
}

.año_tabla_dep
{
    display: none;
}

.año_tabla
{
    display: none;
}

.año_tabla_active
{
    display: block;
}

.sabias_que div
{
    display: none;
}

.testimonios div
{
    display: none;
}

.testimonio_active
{
    display: block!important;
}

.sabias_active
{
    display: block!important;
}

.dep_active
{
    display: inline-table;
}

.centros_active
{
    display: block!important;
}

.testimonios, .sabias_que
{
/*    font-family: 'Comic Neue', cursive; /* UNA OPCION */
font-family: 'Voces', cursive;
}

.ayuda_map
{
    font-family: 'Cambo', serif;
}

.noticias p
{
    font-family: 'Rubik', sans-serif;
}

.noticias h1
{
    font-family: 'Prata', serif;
}

.ayuda_map .mapa
{
    max-width:100%;
    list-style:none; 
    transition: none;
    overflow:hidden;
    width:500px;
    height:500px;
}

.ayuda_map .mapa div
{
    height:100%; 
    width:100%;
    max-width:100%;
}

.ayuda_map .mapa div iframe
{
    height:100%;
    width:100%;
    border:0;
}

@media (min-width: 801px) or (orientation:landscape)
{
    .centro_info
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 3vh;
    }
    
    .centros_ayuda button
    {
        margin: 0.5%;
        display: none;
    }
    
    .centros_ayuda
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 80vh;
    }
    
    .selector_ayuda
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .ayuda_info
    {
        display: flex;
        justify-content: space-around;
        height: 80vh;
    }
    
    .ayuda_map
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 50vw;
    }    

    #map_img
    {
        height: 50vh;
    }
    
    button
    {
        padding: 0.9vw;
    }
    .botones_testimonios
    {
        display: flex;
        flex-direction: column;
    }
    .botones_testimonios button
    {
        margin: 2%;
    }

    .botones_sabias
    {
        display: flex;
        flex-direction: column;
    }
    .botones_sabias button
    {
        margin: 12%;
    }

.container_botones_graficos
{
    display: flex;
    justify-content: space-around;
}

.contenido_datos_curiosos
{
    display: flex;
    justify-content: space-around;
}

.contenido_datos_curiosos div
{
    margin: 1%;
    text-align: center;
    width: 40vw;
}

body > div
{
    scroll-snap-align: center;
}    

.botones_scroll
{
    display: flex;
    align-items: center;
    justify-content: center;
}


.botones_scroll button
{
    width: 5vw;
    height: 5vw;
    font-size: 3vh;
}

.imagenes_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noticias_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr
{
    border-color: var(--hr-color);
    border-width: 0.25vh;
    margin: 0%;
}

.index
{
    background-color: var(--color4);
}

.contenido{
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.contenido-izq-der
{
    height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: var(--fontcolor);
    margin-top: 5vh;
}

.contenido_border
{
    background-image: var(--contenido-border-gradient);
    margin: 0%;
    padding: 0%;
    height: 4vh;
}

.contenido_border a
{
    font-size: 3vh;
    color: var(--fontcolor);
}

.noticias
{
    overflow-x: hidden;
    overflow-y: hidden;
    width: 50vw;
    display: flex;
    align-items: top;
    scroll-snap-type: x mandatory;
    margin-left: 20vw;
    margin-right: auto;
}

.noticias div
{
    display: flex;
    align-items: center;
    flex-direction: column;

    scroll-snap-align: center;
    width: 50vw;
    height: 70vh;
    background-color: var(--color2);
    padding: 1vh;
    border: 1vh solid var(--color3);
}

.noticias a
{
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    color: var(--fontcolor);
    font-size: 3vh;
    margin: 1vh;
}

.noticias h1
{
    font-size: 3vh;
}

.channel
{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    font-size: 3vh;
}

.noticias div img
{
    width: 20vw;
    height: 20vw;
}

.test
{
    display: flex;
    justify-content: center;
    margin-left: 25vw;
    margin-right: 25vw;
    background-color: var(--color2);
    border: 1vh solid var(--color3);
    font-size: 3vh;
}

.test button
{
    font-size: 3vh;
}

.test_question
{
    margin-left: 1vh;
    margin-right: 1vh;
}

.test_titulo
{
    text-align: center;
}

.test_resultado
{
    display: none;
    flex-direction: column;
}

.test_options
{
    display: flex;
    flex-direction: column;
}

.test_options div
{
padding: 1vh;
}

.logo
{
    margin: 0px;
    background-image: var(--color5);
    justify-content: center;
    text-align: center;
    align-items: center;

    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw; 
    z-index: 99;
    transition: 2s;
    font-size: 5vh;
}
.logo img
{
    transition: 1s;
    padding: 1vh;
    width: 45vw;
    border-radius: 100%;
}

.contenido_izquierda
{
    display: flex;
    width: 50vh;
    height: 0vh;
    flex-direction: column;
    margin-top: 17.8vh;
}

.contenido_derecha
{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenido_derecha div
{
    display: flex;
    justify-content: left;
}
.contenido_izquierda button
{
    font-size: 3vh;
    padding: 5vh;
    height: 20vh;
    background-color: var(--color-button);
    border-color: var(--color-button-border);
    border-width: 0.5vh;
    margin: 0.2vh;
    border-radius: 2vh;
    color: var(--fontcolor);
}
.contenido_derecha button
{
    font-size: 3vh;
    padding: 3vh;
    width: 37.5vh;
    height: 10vh;
    background-color: var(--color-button);
    border-color: var(--color-button-border);
    border-width: 0.5vh;
    color: var(--fontcolor);
}

.contenido_derecha button:hover
{
    background-color: var(--hover-background-color);
    color: var(--hover-font-color);
}
.contenido_izquierda button:hover
{
    background-color: var(--hover-background-color);
    color: var(--hover-font-color);
}

.imagenes_prevencion
{
    scroll-behavior: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: auto;
    scroll-snap-type: x mandatory;

    margin-top: 4vh;
    width: 75vh;
    height: 35vh;
    align-items: center;
    background-color: var(--img-prevencion-b-color);
    border: 0.5vh solid var(--img-prevencion-bor-color);
    border-radius: 5% 5% 5% 5%;
}

.imagenes_prevencion img
{
    padding-left: 4vw;
    padding-right: 4vw;
    width: auto;
    height: 35vh;
    scroll-snap-align: center;
    border-radius: 5% 5% 0% 5%;
    user-select: none;
}

input[type="radio"]
{
accent-color: var(--check-color);
width: 3vw;
height: 3vh;
}



.graficos_container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-top: 5vh;
}

.info
{
    margin: 0%;
    width: 100vw;
}

.año_tabla_dep
{
    width: 40vw; 
    height: 25vh; 
    background-color: var(--color2);
}

.año_tabla_dep tr,.año_tabla_dep th,.año_tabla_dep td
{
    border: 0.5vh solid black;
    text-align: center;
    width: 50%;
}

.grafico_barras
{
    background-color: var(--check-color);
    border: 0.5vh solid black;
    border-bottom: 0vh;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.grafico
{
    padding-top: 0.5vh;
    border: 0.5vh solid black;
    width: 50vw; 
    height:25vw; 
    align-items: baseline;
}

.centros_ayuda button
{
    width: 40vw;
    height: 10vh;
}

}
@media (max-width: 800px) and (orientation:portrait)
{
    .centro_info
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 3vh;
    }
    
    .centros_ayuda button
    {
        margin: 0.5%;
        display: none;
    }
    
    .centros_ayuda
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 80vh;
    }
    
    .selector_ayuda
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 2vh;
    }
    
    .ayuda_info
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80vh;
    }
    
    .ayuda_map
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 60vh;
    }

    #map
    {
        margin-bottom: 2vh;
    }

    .container_botones_graficos
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-top: 2vh;
    }

    .botones_graficos button
    {
        padding: 4vw;
    }
    
    .contenido_datos_curiosos
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .sabias_que
    {
        order: 4;
    }

    .botones_testimonios
    {
        margin: 2%;
    }

    .botones_testimonios button
    {
        padding: 1.5vh;
    }

    .botones_sabias
    {
        margin: 2%;
    }

    .botones_sabias button
    {
        padding: 1.5vh;
    }
        
    hr
    {
        border-color: var(--hr-color);
        border-width: 0.15vh;
        margin: 0%;
    }
    
    .index
    {
        background-color: var(--color4);
    }    

    .contenido-izq-der
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }

    .contenido{
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    
    .contenido-izq-der button:nth-child(1)
    {
        border-radius: 10% 0% 0% 10%;
    }

    .contenido-izq-der button:nth-child(4)
    {
        border-radius: 0% 10% 10% 0%;        
    }

    .contenido_border
    {
        background-image: var(--contenido-border-gradient);
        margin: 0%;
        padding: 0%;
        height: 4vh;
    }

    .contenido_border a
    {
    font-size: 2vh;
    color: var(--fontcolor);
    }

    .logo
    {
        margin: 0px;
        background-image: var(--color5);
        justify-content: center;
        text-align: center;
        align-items: center;

        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw; 
        z-index: 99;
        transition: 2s;    
    }

    .logo img
    {
        transition: 1s;
        padding: 1vh;
        width: 45vw;
        border-radius: 100%;    
    }

    .noticias
    {
        overflow-x: hidden;
        overflow-y: hidden;
        width: 90vw;
        display: flex;
        align-items: top;
        scroll-snap-type: x mandatory;
    }
    
    .noticias div
    {
        display: flex;
        align-items: center;
        flex-direction: column;
    
        scroll-snap-align: center;
        width: 90vw;
        height: auto;
        background-color: var(--color2);
        border: 0.5vh solid var(--color3);
        padding: 1vh;
    }
    
    .noticias a
    {
        width: fit-content;
        height: fit-content;
        text-decoration: none;
        color: var(--fontcolor);
        font-size: 1.5vh;
        margin: 1vh;
    }
    
    .noticias h1
    {
        font-size: 1.25vh;
    }
    
    .channel
    {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;    
        height: 90vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 1.5vh;
    }
    
    .noticias div img
    {
        width: 50vw;
        height: 50vw;
    }

    .test
    {
        display: flex;
        justify-content: center;
        margin-left: 1vh;
        margin-right: 1vh;
        background-color: var(--color2);
        border: 1vh solid var(--color3);
        font-size: 2vh;
    }

    .test button
    {
        font-size: 2vh;
    }

    .test_resultado
    {
    display: none;
    flex-direction: column;
    }

    .test_titulo
    {
        text-align: center;
    }
    .test_question
    {
        margin-left: 1vh;
        margin-right: 1vh;
    }
    .test_options
    {
        display: flex;
        flex-direction: column;
    }
    
    .test_options div
    {
    padding: 1vh;
    }
    

    .contenido_izquierda
    {
        display: flex;
        width: auto;
        flex-direction: row;
        justify-content: center;
        margin-left: 0;
        margin-top: 17.8vh;
    }
    
    .contenido_derecha
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: 0vh;
        margin-top: 3vh;
    }
    
    .contenido_derecha div
    {
        display: flex;
        justify-content: left;
    }
    .contenido_izquierda button
    {
        font-size: 2vh;
        padding: 0.5vh;
        height: auto;
        background-color: var(--color-button);
        border-color: var(--color-button-border);
        border-width: 0.05vh;
        color: var(--fontcolor);
    }
    .contenido_derecha button
    {
        font-size: 2vh;
        padding: 0vh;
        width: 22.2vh;
        height: 5vh;
        background-color: var(--color-button);
        border-color: var(--color-button-border);
        border-width: 0.3vh;
        color: var(--fontcolor);
    }

    .contenido_derecha button:hover
    {
        background-color: var(--hover-background-color);
        color: var(--hover-font-color);
    }
    .contenido_izquierda button:hover
    {
        background-color: var(--hover-background-color);
        color: var(--hover-font-color);
    }
        
    .imagenes_prevencion
    {
        scroll-behavior: auto;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: auto;
        scroll-snap-type: x mandatory;    

        margin-top: 4vh;
        width: 44vh;
        height: 35vh;
        align-items: center;
        background-color: var(--img-prevencion-b-color);
        border: 0.05vh solid var(--img-prevencion-bor-color);
        border-radius: 5% 5% 0% 5%;
    }
    
    .imagenes_prevencion img
    {
        scroll-snap-align: center;
        width: 44vh;
        height: 35vh;
        border-radius: 5% 5% 0% 5%;
    }

    input[type="radio"]
    {
    accent-color: var(--check-color);
    width: 2vw;
    height: 2vh;
    }

    .graficos_container
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        margin-top: 5vh;
    }
    

    .grafico_barras
    {
        background-color: var(--check-color);
        border: 0.5vh solid black;
        border-bottom: 0vh;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }
    
    .grafico
    {
        width: 90vw; 
        height: 20vh; 
        align-items: baseline;
        padding-top: 0.5vh;
        border: 0.5vh solid black;
    }
    
    .botones_scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .botones_scroll button
    {
        width: 15vw;
        height: 15vw;
        font-size: 3vh;
    }
    
    .info
    {
    margin: 0%;
    width: 100vw;
    }

    .año_tabla_dep
    {
        margin-top: 5vh;
        width: 70vw; 
        height: 25vh; 
        background-color: var(--color2);
    }
    
    .año_tabla_dep tr,.año_tabla_dep th,.año_tabla_dep td
    {
        border: 0.5vh solid black;
        text-align: center;
        width: 50%;
    }

    .centros_ayuda button
    {
        width: 90vw;
        height: 5vh;
    }


    .noticias_container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
}