*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.boton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 1%;
    width: 20vw;
    background-color: rgba(255, 172, 47, 0.534);
    border-style: solid;
    border: 2%;
    border-color: black;
}

.boton_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-direction: column;
}
.logo
{
    margin: 0px;
    background-image: linear-gradient(to right, rgb(255, 164, 118) , rgb(241, 241, 144));;
    justify-content: center;
    text-align: center;
    align-items: center;

    position: absolute;
    display: flex;
    height: 100vh;
    width: 100vw; 
    z-index: 99;
    transition: 2s;
    
}
.logo img
{
    transition: 1s;
    padding: 1vh;
    width: 15vh;
    border-radius: 100%;
}


.logo {
    transition: 0s;
    position: relative;
    height: 15vh;
    transform: translateY(0vh);
}

#form_not {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form_centros
{
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#form_dep div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#form_dep div div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
}

#form_dep {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#form_testimonios
{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#form_sabias
{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

form
{
    display: none;
}

table {
    display: none;
    justify-content: center;
    align-items: center;
}

.titulo
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2%;
    user-select: none;
}